<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>Fluxa – Register</title>
        <!-- ===============================================--><!--    Favicons--><!-- ===============================================-->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='home/assets/img/logos/logo-r.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='home/assets/img/logos/logo-r.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='home/assets/img/logos/logo-r.png')}}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='ahome/ssets/img/logos/logo-r.png')}}">
        <link rel="manifest" href="{{ url_for('static', filename='home/assets/img/favicons/manifest.json')}}">
        <meta name="msapplication-TileImage" content="{{ url_for('static', filename='home/assets/img/favicons/mstile-150x150.png')}}">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='home/assets/css/login.css')}}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&amp;family=Rubik:ital,wght@0,300..900;1,300..900family=Rubik:ital,wght@0,300..900;1,300..900&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    </head>
<body>

  <div class="login-wrapper">
    <div class="login-card">

        <button class="close-btn"><a href="/">×</a></button>

        <h2>
            <img src="{{ url_for('static', filename='home/assets/img/logos/fluxa-w.png')}}" alt="logo-login" width="200px"/>
        </h2>
        <p class="subtitle">Access your Fluxa dashboard securely</p>

        <div class="social-login">
            <a class="social google" href="{{ url_for('google.login') }}">
                <i class="uil uil-google"></i>
                <span>Google</span>
            </a>

            <a class="social apple">
                <i class="uil uil-apple"></i>
                <span>Apple</span>
            </a>
        </div>

        <div class="divider">
            <span>or</span>
        </div>

        <form action="{{ url_for('auth_blueprint.register') }}" method="POST">
            <div class="input-group">
                <label>Email</label>
                <input type="email" name="email" placeholder="Enter your email" required />
            </div>

            <div class="input-group password-group">
                <label>Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" required />
                <span class="toggle-password" id="togglePassword">👁</span>
            </div>

            <div class="input-group password-group">
                <label>Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm your password" required />
                <span class="toggle-password" id="toggleConfirmPassword">👁</span>
            </div>

            <button type="submit" class="login-btn">Register</button>
        </form>

    </div>
  </div>

  <!-- Container des toasts -->
    <div aria-live="polite" aria-atomic="true" class="position-fixed top-0 end-0 p-3" style="z-index: 1080;">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="toast align-items-center text-bg-{{ category }} border-0 mb-2" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
                <div class="d-flex">
                <div class="toast-body">
                    {% if category == 'success' %}
                    ✅ {{ message }}
                    {% elif category == 'danger' %}
                    ❌ {{ message }}
                    {% elif category == 'warning' %}
                    ⚠️ {{ message }}
                    {% elif category == 'info' %}
                    ℹ️ {{ message }}
                    {% else %}
                    {{ message }}
                    {% endif %}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

  <script src="{{ url_for('static', filename='home/assets/js/login.js')}}"></script>
  <script src="{{ url_for('static', filename='home/assets/js/toast.js')}}"></script>

</body>
</html>
